<% content_for :header do %>
  <%= stylesheet_link_tag "bb", :media => "all" %>
 <% end %>



<div id="bb">
  <div class="boleto">
    <div class="cut">
      <p>Corte na linha pontilhada</p>
    </div><!-- final .cut -->

    <div class="recibo">
      <strong>Recibo do Sacado</strong>
    </div><!-- final .cut_footer -->

    <div class="header">
      <div class="w150"><img src="/assets/boleto_br/logobb.jpg" /></div>
      <div class="w50 field_cod_banco"><%= @boleto.data[:codigo_banco_com_dv]%></div>
      <div class="linha_digitavel"><%= @boleto.data[:linha_digitavel]%></div>
    </div><!-- final .header -->

    <div class="line clearfix">
      <div class="w300 border">
        <p class="title text-left">Cedente</p>
        <p class="content text-left"><%= BoletoBr::cedente %>&nbsp;</p>
      </div>
      <div class="w130 border">
        <p class="title text-left">Agência / Código do Cedente</p>
        <p class="content text-right"><%= @boleto.data[:agencia_codigo]%>&nbsp;</p>
      </div>
      <div class="w40 border">
        <p class="title text-left">Espécie</p>
        <p class="content text-center"><%= @boleto.data[:especie]%>&nbsp;</p>
      </div>
      <div class="w50 border">
        <p class="title text-left">Quantidade</p>
        <p class="content text-center"><%= @boleto.data[:quantidade]%>&nbsp;</p>
      </div>
      <div class="w120 border">
        <p class="title text-left">Nosso número</p>
        <p class="content text-right"><%= @boleto.data[:nosso_numero]%></p>
      </div>
    </div><!-- final .line -->

    <div class="line clearfix">
      <div class="w120 border">
        <p class="title text-left">N&uacute;mero do documento</p>
        <p class="content text-left"><%= @boleto.data[:numero_documento] %></p>
      </div>
      <div class="w80 border">
        <p class="title text-left">Contrato</p>
        <p class="content text-left"><%= @boleto.data[:contrato]%></p>
      </div>
      <div class="w130 border">
        <p class="title text-left">CPF/CEI/CNPJ</p>
        <p class="content text-left"><%= BoletoBr::cpf_cnpj %></p>
      </div>
      <div class="w130 border">
        <p class="title text-left">Vencimento</p>
        <p class="content text-center"><%= @boleto.data[:data_vencimento]%></p>
      </div>
      <div class="w180 border">
        <p class="title text-left">Valor documento</p>
        <p class="content text-right"><%= @boleto.data[:valor_boleto]%></p>
      </div>
    </div><!-- final .line -->

    <div class="line clearfix">
      <div class="w120 border">
        <p class="title text-left">(-) Desconto / Abatimento</p>
        <p class="content text-left">&nbsp;</p>
      </div>
      <div class="w120 border">
        <p class="title text-left">(-) Outras dedu&ccedil;&otilde;es</p>
        <p class="content text-left">&nbsp;</p>
      </div>
      <div class="w110 border">
        <p class="title text-left">(+) Mora / Multa</p>
        <p class="content text-left">&nbsp;</p>
      </div>
      <div class="w110 border">
        <p class="title text-left">(+) Outros acr&eacute;scimos</p>
        <p class="content text-center">&nbsp;</p>
      </div>
      <div class="w180 border highlight">
        <p class="title text-left">(=) Valor cobrado</p>
        <p class="content text-right">&nbsp;</p>
      </div>
    </div><!-- final .line -->

    <div class="line clearfix">
      <div class="w660 border">
        <p class="title text-left">Sacado</p>
        <p class="content text-left"><%= @boleto.data[:sacado]%></p>
      </div>
    </div><!-- final .line -->

    <div class="footer">
      <p>Autentica&ccedil;&atilde;o mec&acirc;nica</p>
    </div>

    <div class="cut">
      <p>Corte na linha pontilhada</p>
    </div>

    <div class="header">
      <div class="w150"><img src="/assets/boleto_br/logobb.jpg" /></div>
      <div class="w50 field_cod_banco"><%= @boleto.data[:codigo_banco_com_dv]%></div>
      <div class="linha_digitavel"><%= @boleto.data[:linha_digitavel]%></div>
    </div><!-- final .header -->

    <div class="line clearfix">
      <div class="w470 border">
        <p class="title text-left">Local de pagamento</p>
        <p class="content text-left">QUALQUER BANCO ATÉ O VENCIMENTO</p>
      </div>
      <div class="w180 border highlight">
        <p class="title text-left">Vencimento</p>
        <p class="content text-right"><%= @boleto.data[:data_vencimento]%></p>
      </div>
    </div><!-- final .line -->

    <div class="line clearfix">
      <div class="w470 border">
        <p class="title text-left">Cedente</p>
        <p class="content text-left"><%= BoletoBr::cedente %></p>
      </div>
      <div class="w180 border">
        <p class="title text-left">Ag&ecirc;ncia/C&oacute;digo cedente</p>
        <p class="content text-right"><%= @boleto.data[:agencia_codigo]%></p>
      </div>
    </div><!-- final .line -->

    <div class="line clearfix">
      <div class="w100 border">
        <p class="title text-left">Data do documento</p>
        <p class="content text-left"><%= @boleto.data[:data_documento]%></p>
      </div>
      <div class="w160 border">
        <p class="title text-left">No. documento</p>
        <p class="content text-left"><%= @boleto.data[:numero_documento]%></p>
      </div>
      <div class="w70 border">
        <p class="title text-left">Esp&eacute;cie doc.</p>
        <p class="content text-center"><%= @boleto.data[:especie_doc]%></p>
      </div>
      <div class="w40 border">
        <p class="title text-left">Aceite</p>
        <p class="content text-center"><%= @boleto.data[:aceite]%></p>
      </div>
      <div class="w80 border">
        <p class="title text-left">Data process.</p>
        <p class="content text-left"><%= @boleto.data[:data_processamento]%></p>
      </div>
      <div class="w180 border">
        <p class="title text-left">Nosso n&uacute;mero</p>
        <p class="content text-right"><%= @boleto.data[:nosso_numero]%></p>
      </div>
    </div><!-- final .line -->

    <div class="line clearfix">
      <div class="w100 border highlight">
        <p class="title text-left">Uso do banco</p>
        <p class="content text-left"></p>
      </div>
      <div class="w80 border">
        <p class="title text-left">Carteira</p>
        <p class="content text-center"><%= @boleto.data[:carteira]%> <%= if(@boleto.data[:variacao_carteira]) then @boleto.data[:variacao_carteira] else '&nbsp;' end %></p>
      </div>
      <div class="w70 border">
        <p class="title text-left">Espécie</p>
        <p class="content text-center"><%= @boleto.data[:especie]%></p>
      </div>
      <div class="w120 border">
        <p class="title text-left">Quantidade</p>
        <p class="content text-center"><%= @boleto.data[:quantidade]%></p>
      </div>
      <div class="w80 border">
        <p class="title text-left">x Valor</p>
        <p class="content text-right"><%= @boleto.data[:valor_unitario]%></p>
      </div>
      <div class="w180 border">
        <p class="title text-left">(=) Valor documento</p>
        <p class="content text-right"><%= @boleto.data[:valor_boleto]%></p>
      </div>
    </div><!-- final .line -->

    <div class="line clearfix">
      <div class="w480 instrucoes">
        <p class="title text-left">Instru&ccedil;&otilde;es (Texto de responsabilidade do cedente)</p>
        <p>&nbsp;</p>
        <p class="content text-left"><%= @boleto.data[:demonstrativo1] %></p>
        <p class="content text-left"><%= @boleto.data[:demonstrativo2] %></p>
        <p class="content text-left"><%= @boleto.data[:demonstrativo3] %></p>
        <p class="content text-left"><%= @boleto.data[:instrucoes1] %></p>
        <p class="content text-left"><%= @boleto.data[:instrucoes2] %></p>
        <p class="content text-left"><%= @boleto.data[:instrucoes3] %></p>
        <p class="content text-left"><%= @boleto.data[:instrucoes4] %></p>
      </div>
      <div class="w180">
        <div class="clearfix line">
          <div class="w180 border">
            <p class="title text-left">(-) Desconto / Abatimento</p>
            <p class="content text-center">&nbsp;</p>
          </div>
        </div>
        <div class="clearfix line">
          <div class="w180 border">
            <p class="title text-left">(-) Outras deduções</p>
            <p class="content text-center">&nbsp;</p>
          </div>
        </div>
        <div class="clearfix line">
          <div class="w180 border">
            <p class="title text-left">(+) Mora / Multa</p>
            <p class="content text-center">&nbsp;</p>
          </div>
        </div>
        <div class="clearfix line">
          <div class="w180 border">
            <p class="title text-left">(+) Outros Acréscimos</p>
            <p class="content text-center">&nbsp;</p>
          </div>
        </div>
        <div class="clearfix line">
          <div class="w180 border highlight">
            <p class="title text-left">(=) Valor cobrado</p>
            <p class="content text-center">&nbsp;</p>
          </div>
        </div>
      </div>
    </div><!-- final .line -->

    <div class="line clearfix">
      <div class="w660 border">
        <p class="title text-left">Sacado</p>
        <p class="content text-left"><%= @boleto.data[:sacado]%></p>
        <p class="content text-left"><%= @boleto.data[:endereco1]%></p>
        <p class="content text-left"><%= @boleto.data[:endereco2]%></p>
      </div>
    </div><!-- final .line -->


    <div class="line clearfix">
      <div class="w470 border">
        <p class="title text-left">Sacador/Avalista</p>
        <p class="content text-left">&nbsp;</p>
      </div>
      <div class="w180">
        <p class="title text-left">&nbsp;</p>
        <div class="border">
          <p class="content text-left">Cód. baixa</p>
        </div>
      </div>
    </div><!-- final .line -->


    <div class="recibo">
      <font style="font-size: 10px;">Autentica&ccedil;&atilde;o mec&acirc;nica - Ficha de Compensação</font>
    </div><!-- final .cut_footer -->

    <div class="barcode">
      <p><%= @boleto.fbarcode @boleto.data[:codigo_barras] %></p>
    </div><!-- final .barcode -->

    <div class="cut">
      <p>Corte na linha pontilhada</p>
    </div><!-- final .cut -->
  </div>
</div>
